@using BookService.Entities
@model IEnumerable<BookService.Entities.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingHouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfPublishing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishingHouse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfPublishing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { isbn = item.ISBN }) |
            @Html.ActionLink("Details", "Details", new { isbn = item.ISBN }) |
            @Html.ActionLink("Delete", "Delete", new { isbn = item.ISBN })
        </td>
    </tr>
}

</table>
