
@{
    ViewBag.Title = "CalculateGcd";
}

<h4>Calculate GCD for 2 numbers by @ViewBag.Algorithms<br/></h4>
<h4>GCD(@ViewBag.Number1, @ViewBag.Number2) - @ViewBag.GCD</h4>
<h5>Calculating time: @ViewBag.Millisecond milliseconds</h5>

<a href="/Calculator/Index" class="bottom">back</a>

